<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.bainluck.watch.launcher</string>
            <key>CFBundleURLSchemes</key>
            <array><string>bainluck-watch</string></array>
        </dict>
    </array>
    <key>WKCompanionAppBundleIdentifier</key>
    <string>com.bainluck.Bain-Luck</string>
    <key>WKRunsIndependentlyOfCompanionApp</key>
    <true/>
    <key>NSUserActivityTypes</key>
    <array>
        <string>com.bainluck.view-game</string>
    </array>
</dict>
</plist>
